
.genjimerch {
    background-image: url('/src/images/Bg_orange.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #f8f5b3;
    font-size: 100px;
    bottom: 0px;
    top: 0%;
    min-height: 250vh;
    width: 100%;
  }

  .page4--content
    {
        background-color: transparent;
        font-size: 10px;
        position: absolute;
        top: 200px;
        right: 700px;
        left: 10px;
        display: grid;
        grid-template-columns: 800px;
        margin-left: 500px;
  }
  .page4--content>p1{
    padding-top: 200px;
    font-size: 150px;
    margin-right: 20px;
    color: rgb(252, 252, 134);
  }
  .page4--content>p2{
    padding-left: 10px;
    font-size: 150px;
    padding-right: 20px;
    margin-left: 70px;
    color: rgb(252, 252, 134);
  }

  .page4--content>img{
      margin-top: 150px;
      margin-left: 600px;
  }