
.roadmap {
    background-image: url('/src/images/bg3-01.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    bottom: 0px;
    top: 0%;
    min-height: 300vh;
    width: 100%;
  }