
.roadmap {
    background-image: url('/src/images/Bg_border_wave-pink-01.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    bottom: 0px;
    top: 0%;
    min-height: 300vh;
    width: 100%;
  }

  .discords-item{

    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 1700px;
    background-size: 100%;

  }

  .footer__item{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 2250px;
    background-size: 100%;
  }