
.roadmap {
    background-image: url('/src/images/Bg_border_wave-pink-01.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    bottom: 0px;
    top: 0%;
    min-height: 320vh;
    width: 100%;
  }

  .discords-item{

    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 1700px;
    background-size: 100%;

  }

  .footer__item{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 2250px;
    background-size: 100%;
  }

  .header-roadmap{
    
    font-size: 20px;
    margin-top: 20px;
    

  }

  .header-roadmap > p{
    margin-top: 20px;
    padding-bottom: 56px;
  }

  .header-roadmap > h1{
   color: rgb(252, 252, 134);;
  }

  .phase--container{
    background-color: transparent;
    font-size: 10px;
    position: absolute;
    top: 250px;
    right: 800px;
    left: 150px;
    display: grid;
    grid-template-columns: 800px;

  }


  .pre--phase{
    background-color: rgba(20, 20, 20, 0.2);
    color: #fff;
    font-size: 15px;
    padding: 40px;
    border-radius: 20px;
    margin-top: 50px;
    
    
  }

  .pre--phase >h1{
    color: rgb(252, 252, 134); 
    padding-bottom: 20px;
  }
  .pre--phase >p{
    padding-top: 5px;
    
  }

  .phase--1{
    background-color: rgba(20, 20, 20, 0.2);
    color: #fff;
    font-size: 15px;
    padding: 40px;
    border-radius: 20px;
    margin-top: 50px;

  }
  .phase--1 >h1{
    color: rgb(252, 252, 134);
    padding-bottom: 20px;
  }
  .phase--1>p{
    padding-top: 5px;
  }

  .phase--2{
    background-color: rgba(20, 20, 20, 0.2);
    color: rgba(253, 253, 253, 0.342);
    font-size: 15px;
    padding: 40px;
    border-radius: 20px;
    margin-top: 50px;

  } 

  .phase--2 >h1{
    padding-bottom: 20px;
  }

  .phase--2 >p{
    padding-top: 5px;
  }
  .phase--3{
    background-color: rgba(20, 20, 20, 0.2);
    color: rgba(253, 253, 253, 0.342);
    font-size: 15px;
    padding: 40px;
    border-radius: 20px;
    margin-top: 50px;

  }
  .phase--3 >h1{
    padding-bottom: 20px;
  }

  .phase--3>p{
    padding-top: 5px;
  }
 
  